<style>	 

</style>
<div class="widget-box">
	<div class="widget-header">
		<h4>功能鍵</h4>
		<button id="AddBtn" class="btn-info HYBtn hidden-480" type="button"><i class="icon-book  icon-only"></i><br>新增</button>
		<button class="btn-warning HYBtn hidden-480 UpdBtn" type="button"><i class="icon-edit icon-only"></i><br>編輯</button>
		<button class="btn-danger HYBtn hidden-480 DelBtn" type="button"><i class="icon-trash  icon-only"></i><br>刪除</button>
		<button class="btn-success HYBtn hidden-480" type="button" style="display:none;"><i class="icon-cloud  icon-only"></i><br>上傳</button>		
	</div>

 
</div>
  
  
  <div class="page-header">
			<h4 class="pink">
					<i class="icon-hand-right icon-animated-hand-pointer blue"></i>
					<a href="#modal-table" role="button" class="green" data-toggle="modal"> 客戶管理 </a>
				</h4>
  </div>
   <div class="bs-example">   	   
   	   <div id="AjaxList"></div>        	   	      
   </div>
   <div id="AjaxDialog" title="Basic dialog"></div>
   
   
    <script  type="text/javascript">
     
      function LoadAjaxList(){
        $("#AjaxList").Hy_Template_Engine({
            TemplateType: "List",
            PageNum: 15,         
            TemplateUrl:  ThisWebUrl +  "/template/templateEngine/A13_list_content.html",
            JsonDataUrl:  ThisWebUrl +  "/action/templateEngine/A13_list_content_list.ashx",
            ColumeName_Input: "A13I01XA,A13I02UV0010,A13I03CV0001,A13I04JJA13I02,A13I05FD0400,A13I06II,A13I07JJA02I02,A13I08JJA03I02,A13F01NV0064,A13F02CV0016,A13F03CV0016,A13F04CV0016,A13F05NV0256,A13F06NV0064,A13F07NV0012,A13IND,A13INT,A13INA,A13INU,A13UPD,A13UPT,A13UPA,A13UPU,A13UPC,A02F01NV0016,A03F01NV0016,A13I03CV0001_NAME",
            ColumeName_Radio: "",
            ColumeName_Select: "",
            ColumeName_Parame: "Language",
            SearchColume: "SearchTxt"
        });    
     }
     LoadAjaxList();
     
   </script>	  
   
    <script type="text/javascript">  	           	         	         
             $("#AddBtn").click(function () {  
             	       $( "#AjaxDialog" ).html("");                  	       
             	       $("span.ui-dialog-title").text('新增作業');           	             	             	       
             	       ajaxTagFunction( ThisWebUrl +  '/Module/A13/face.ashx','AjaxDialog',1,0);               	                    	                   	       
             	       $( "#AjaxDialog" ).dialog( "open" );                 
             });             
             
             
           $( "#AjaxDialog" ).dialog({
           	  autoOpen: false,
              resizable: false,
              height: 500,
      	      width: 600,
              modal: false,
              buttons: {
                "送出": function() {
                	  /* 表單驗証 */
                    if(Hy_FormValidate()==true){                           	                      	             
                        	             ajaxTagSubmit(  ThisWebUrl +  '/Module/A13/face.ashx',"AjaxFace",1);
                        	             LoadAjaxList();
                        	          }
                },
                "關閉": function() {
                  $( this ).dialog( "close" );
                }
              }
            });
                                      
      </script>        