       
      <table id="AjaxFace" style="width:100%;">
      	<tr style="display:none;">
      	    <th width="100"> <input type="text"  name="Action" id="Action"   value="{{Action}}" >{{A20I01XA.HTML_HIDDEN}}	</th><td></td>
      	</tr>
      	<tr>
        	<th width="100">啟用狀態</th>        	
        	<td>  
        		{{A20I03CV0001.HTML_RADIO}}        	
          </td>
        </tr>
        <tr>
        	<th width="100">名稱</th>
          <td>{{A20F01NV0006.HTML_TEXT}}   <span class="MarkStar">*</span> </td>
        </tr>       
        <tr>
        	<th width="100">身份類別</th>
          <td> 
          	    <label style="display:none;">          	    	
                  <input class="ace A20I05CV0001 chk" type="checkbox"   value="V"  name="A20I05CV0001"><span class="lbl"> Nokia User</span>
                </label>
                 <br>
                <label>                	
                  <input class="ace A20I06CV0001 chk" type="checkbox"   value="V" name="A20I06CV0001"><span class="lbl"> 客戶聯絡人</span>
                </label><span class="A20I09JJA13I02Hidden" style="margin-left:37px;display:none;">{{A20I09JJA13I02.HTML_SELECT}}  <span class="MarkStar">*</span></span>
                <br>
                <label>
                  <input class="ace A20I07CV0001 chk" type="checkbox"    value="V" name="A20I07CV0001"><span class="lbl"> 承包商聯絡人</span>
                </label> <span class="A20I10JJA12I02Hidden" style="margin-left:30px;display:none;">{{A20I10JJA12I02.HTML_SELECT}}  <span class="MarkStar">*</span></span>
                <br>
                <label >
                  <input class="ace chk A20I08CV0001" type="checkbox" value="V"   name="A20I08CV0001"><span class="lbl"> 貨倉聯絡人</span>
                </label>
                <span class="A20I15JJA19I02Hidden" style="margin-left:37px;display:none;">{{A20I15JJA19I02.HTML_SELECT}}  <span class="MarkStar">*</span></span>
          </td>
        </tr>       
        <tr>
        	<th width="100">室內電話</th>
          <td>{{A20F06CV0032.HTML_TEXT}}  </td>
        </tr>
        <tr>
        	<th width="100">行動電話</th>
        	<td>{{A20F07CV0032.HTML_TEXT}}   </td>
        </tr>
         <tr>
        	<th width="100">地址</th>
        	<td>{{A20I13JJA02I02.HTML_SELECT}}  {{A20I14JJA03I02.HTML_SELECT}} <br>{{A20F08CV0128.HTML_TEXT}}  </td>
        </tr>   
        <tr>
        	<th width="100">說明</th>
        	<td>{{A20F09NT.HTML_TEXTAREA}} </td>
        </tr>       
      </table>    
      <div id="RtnMsg" style="width:400px;text-align:center;"></div>       
      <script type="text/javascript">        
      	      $( ".chk" ).click(function() {  
      	      	$(this).attr('checked',$(this).prop('checked'));    	        	        
      	      });
      	     $( ".A20I06CV0001" ).click(function() {      	     	
                    if($(this).prop('checked')==true) {
                       $(".A20I09JJA13I02Hidden").show();
                    }else{
                    	 $(".A20I09JJA13I02Hidden").hide();
                    }
             });
              $( ".A20I07CV0001" ).click(function() {      	     	
                    if($(this).prop('checked')==true) {
                       $(".A20I10JJA12I02Hidden").show();
                    }else{
                    	 $(".A20I10JJA12I02Hidden").hide();
                    }
             });
             $( ".A20I08CV0001" ).click(function() {                 	   	
                    if($(this).prop('checked')==true) {
                       $(".A20I15JJA19I02Hidden").show();
                    }else{
                    	 $(".A20I15JJA19I02Hidden").hide();
                    }
             });
      	     var oSelect = new hy_SelectHtml();
             var pUrl = ThisWebUrl + "/action/select/address/Select.ashx";
             //oSelect.setBaicWhere("E31I07CV0001","");
             oSelect.initEvent("A20I13JJA02I02","A20I14JJA03I02","A03" ,"A03I02UV0003","A03F01NV0016","A03I03JJA02I02","{{A20I14JJA03I02}}",pUrl);
 	      

             $(".A20F01NV0006").width("220");               
             $(".A20F09NT,.A20F08CV0128").width("320");               
             if('{{Action}}'=='Upd'){
                if("{{A20I05CV0001}}"=="V"){$(".A20I05CV0001").attr('checked',true); }
                if("{{A20I06CV0001}}"=="V"){$(".A20I06CV0001").attr('checked',true); }
                if("{{A20I07CV0001}}"=="V"){$(".A20I07CV0001").attr('checked',true); }
                if("{{A20I08CV0001}}"=="V"){$(".A20I08CV0001").attr('checked',true); }
             }
             
             if('{{Action}}'=='Add'){
                 // $(".E01F01NV0256").attr("tittle","請輸入中文");
                 // $(".A20I02UV0064").attr("tittle","請輸入英文,數字");
             }
             $("#AjaxFace").Hy_Validate({
                  	  id:"#AjaxFace",
                     Column_Require:"A20F01NV0006"
            });  
      </script>        
