       
      <table id="AjaxFace" style="width:100%;">
      	<tr style="display:none;">
      	    <th width="100"> <input type="text"  name="Action" id="Action"   value="{{Action}}" >{{A31I01XA.HTML_HIDDEN}}	</th><td></td>
      	</tr>
      	<tr>
        	<th width="100">啟用狀態</th>        	
        	<td>  
        		{{A31I03CV0001.HTML_RADIO}}        	
          </td>
        </tr>
        <tr>
        	<th width="100">品項名稱</th>        	
        	<td>  
        		{{A31F01NV0064.HTML_TEXT}}  {{A31F06NV0032.HTML_TEXT}}     <span class="MarkStar">*</span> 	
          </td>
        </tr>
        <tr>
        	<th width="100">品項分類</th>
          <td>{{A31I04JJA30I02.HTML_SELECT}}  </td>
        </tr>
        <tr  style="display:none;"> 
        	<th width="100">Local/Global</th>
          <td>{{A31I05CV0001.HTML_RADIO}}  </td>
        </tr>
        <tr>
        	<th width="100"></th>
          <td> 
          	                     
                <label>                	
                  <input class="ace A31I06CV0001 chk" type="checkbox"   value="V" name="A31I06CV0001"><span class="lbl"> 3G系統</span>
                </label>
                <br>
                <label>                	
                  <input class="ace A31I07CV0001 chk" type="checkbox"   value="V" name="A31I07CV0001"><span class="lbl"> 4G系統</span>
                </label>
                <br>
                <label>                	
                  <input class="ace A31I08CV0001 chk" type="checkbox"   value="V" name="A31I08CV0001"><span class="lbl"> 是否件為序號件</span>
                </label>
                <br>
                <label class="setHidden">                	
                  <input class="ace A31I09CV0001 chk" type="checkbox"   value="V" name="A31I09CV0001"><span class="lbl"> 是否可分裝</span>
                </label><br><span class="A31F05NV0256Hidden" style="display:none;">請填入零組件名稱以逗分隔{{A31F05NV0256.HTML_TEXT}}  <span class="MarkStar">*</span></span>
                <br>
          </td>
        </tr>       
        <tr>
        	<th width="100">單位</th>
          <td>{{A31F03NV0004.HTML_TEXT}}  </td>
        </tr>    
         <tr>
        	<th width="100">安全庫存</th>
          <td>{{A31I15FD0600.HTML_TEXT}}  </td>
        </tr>     
        <tr>
        	<th width="100">使用批號</th>
          <td>{{A31I14CV0024.HTML_TEXT}} <span class="MarkStar">*</span> </td>
        </tr>        
        <tr>
        	<th width="100">說明</th>
        	<td>{{A31F02NV0256.HTML_TEXTAREA}}  </td>
        </tr>       
      </table>    
      <div id="RtnMsg" style="width:400px;text-align:center;"></div>       
      <script type="text/javascript">        
 	           $( ".chk" ).click(function() {  
      	      	$(this).attr('checked',$(this).prop('checked'));    	        	        
      	      });
 	           $( ".A31I09CV0001" ).click(function() {      	     	
                    if($(this).prop('checked')==true) {
                       $(".A31F05NV0256Hidden").show();
                    }else{
                    	 $(".A31F05NV0256Hidden").hide();
                    	 $(".A31F05NV0256").val("");
                    }
             });
 	            $( ".A31I08CV0001" ).click(function() {      	     	
 	            	
                    if($(this).prop('checked')==true) {
                       $(".setHidden").show();
                    }else{
                    	 $(".setHidden").hide();
                    	 $(".A31I09CV0001").attr('checked',false);
                    	 $( ".A31I09CV0001" ).click();
                    }
             });
 	           

             $(".A31F01NV0064,.A31F03CV0016,.A31F04CV0016").width("220");               
             $(".A31F03NV0004,.A31I15FD0600").width("40");               
             $(".A31F02NV0256,.A31F01NV0064").width("320");               
             $(".A31F06NV0032").width("100");    
             
             if('{{Action}}'=='Upd'){
                  $(".setHidden").hide();     
                  if("{{A31I05CV0001}}"=="V"){$(".A31I05CV0001").attr('checked',true); }
                  if("{{A31I06CV0001}}"=="V"){$(".A31I06CV0001").attr('checked',true); }
                  if("{{A31I07CV0001}}"=="V"){$(".A31I07CV0001").attr('checked',true); }
                  if("{{A31I08CV0001}}"=="V"){$(".A31I08CV0001").attr('checked',true); }
                  if("{{A31I09CV0001}}"=="V"){$(".A31I09CV0001").attr('checked',true); }
                  if("{{A31I10CV0001}}"=="V"){$(".A31I10CV0001").attr('checked',true); }             
             }
             
             if('{{Action}}'=='Add'){
                  //$(".E01F01NV0256").attr("tittle","請輸入中文");
                  //$(".A10I02UV0064").attr("tittle","請輸入英文,數字");
             }
             $("#AjaxFace").Hy_Validate({
                  	  id:"#AjaxFace",
                     Column_Require:"A31F01NV0064,A31I14CV0024,A31I15FD0600",                     
                     Column_Numeric:"A31I15FD0600"               
            });  
            
            
      </script>        
