<style>	 

</style>
<div class="widget-box">
	<div class="widget-header">
		<h4>功能鍵</h4>
		<button id="AddBtn" class="btn-info HYBtn hidden-480" type="button"><i class="icon-book  icon-only"></i><br>入料</button>		
		<button class="btn-danger HYBtn hidden-480 DelBtn" type="button"><i class="icon-trash  icon-only"></i><br>刪除</button>
		<button class="btn-success HYBtn hidden-480 InfoBtn" type="button" ><i class="icon-cloud  icon-only"></i><br>內容</button>		
		<button class="btn-warning HYBtn80 hidden-480 PackingBtn" type="button" style="display:none;"><i class="icon-print icon-only" ></i><br>入料記錄</button>
	</div>

 
</div>
  
  
  <div class="page-header">
			<h4 class="pink">
					<i class="icon-hand-right icon-animated-hand-pointer blue"></i>
					<a href="#modal-table" role="button" class="green" data-toggle="modal"> 入料記錄 - Global</a>
		  </h4>
  </div>
   <div class="bs-example">   	   
   	   <div id="AjaxList"></div>        	   	      
   </div>
   <div id="AjaxDialog" title="入料作業"></div>
   <div id="AjaxDialog2" title="入料內容"></div>
   <div id="AjaxDialog3" title="序號表"></div>
   <div id="AjaxDialog4" title="入料記錄"></div>
   
    <script  type="text/javascript">
      
      function LoadAjaxList(){
        $("#AjaxList").Hy_Template_Engine({
            TemplateType: "List",
            PageNum: 5,         
            TemplateUrl: ThisWebUrl +  "/template/templateEngine/A602G_list_content.html",
            JsonDataUrl: ThisWebUrl +  "/action/templateEngine/A602G_list_content_list.ashx",
            ColumeName_Input: "A65I01XA,A65I02UV0012,A65I03CV0001,A65F01NV0064,A65F02NV0128,A65IND,A65INT,A65INA",
            ColumeName_Radio: "",
            ColumeName_Select: "",
            ColumeName_Parame: "Language",
            SearchColume: "SearchTxt"
        });    
     }
     LoadAjaxList();
     
   </script>	  
   
    <script type="text/javascript">  	           	         	         
             $("#AddBtn").click(function () {  
             	       $( "#AjaxDialog" ).html("");                  	       
             	       //$("span.ui-dialog-title").text('入料作業');           	             	             	       
             	       ajaxTagFunction(ThisWebUrl + '/Module/A602G/face.ashx','AjaxDialog',1,0);               	                    	                   	       
             	       $( "#AjaxDialog" ).dialog( "open" );                 
             });             
             $(".PackingBtn").click(function () {  
             	       $( "#AjaxDialog4" ).html("");                  	                    	              	             	             	       
             	       ajaxTagFunction(ThisWebUrl + '/action/Module/A602G/packinglist.ashx','AjaxDialog4',1,0);               	                    	                   	       
             	       $( "#AjaxDialog4" ).dialog( "open" );                 
             });           
             
           $( "#AjaxDialog" ).dialog({
           	  autoOpen: false,
              resizable: false,
              height: 700,
      	      width: 1300,
              modal: false,
              buttons: {
                "送出": function() {
                	 /* 取訂單明細 */
                	 var pContent = "";
                	 var pSerailContent = "";
                	  $( ".OrderItem" ).each(function( index ) {                	  	        
                            var pDate = $(this).attr("pData");   	    
                            var pSeiral = $(this).attr("pSerial");
                            
                            if(pDate!="" && pDate!="{{pId}}"){
                            	 if(pContent!=""){ pContent += ","; }
                               pContent += pDate;
                            }
                            if(pSeiral!="" && pSeiral!="{{Serial}}"){
                            	 if(pSerailContent!=""){ pSerailContent += "&&"; }
                               pSerailContent += pSeiral;
                            }
                     });                          
                     //alert(pContent);
                     //alert(pSerailContent);
                	  /* 驗証 */
                    if(pContent!=""){  
                    	                 $( "#OrderDataString" ).val(pContent);                          	                      	                                 	                 
                    	                 $( "#SerialDataString" ).val(pSerailContent);                          	                      	                                 	                 
                        	             ajaxTagSubmit(ThisWebUrl + '/Module/A602G/face.ashx',"AjaxFace",1);
                        	             LoadAjaxList();
                        	             LoaOrderList();
                        	          }else{
                        	              alert("請先輸入訂單資料!!");	
                        	          }
                },
                "關閉": function() {
                  $( this ).dialog( "close" );
                }
              }
            });
            
            $( "#AjaxDialog2" ).dialog({
           	  autoOpen: false,
              resizable: false,
              height: 500,
      	      width: 630,
              modal: false,
              buttons: {                
                "關閉": function() {
                  $( this ).dialog( "close" );
                }
              }
            });
            
           $( "#AjaxDialog3" ).dialog({
           	  autoOpen: false,
              resizable: false,
              height: 600,
      	      width: 1230,
              modal: false,
              buttons: {                
                "關閉": function() {
                  $( this ).dialog( "close" );
                }
              }
            });       
            $( "#AjaxDialog4" ).dialog({
           	  autoOpen: false,
              resizable: false,
              height: 200,
      	      width: 380,
              modal: false,
              buttons: {                
                "關閉": function() {
                  $( this ).dialog( "close" );
                }
              }
            });                          
      </script>        