

<script>
  $(function () {
    $('#myTab a:last').tab('show')
    $('#XXX1').click();
  })
</script>
<div class="HYclearfix" style="width:100%;">   
  <div class="setCol_0" style="width:50%">
       <div id="CounterList" ></div>
                          
       
  </div>
  <div class="setRCol_0" style="width:50%">     
  	  <ul class="nav nav-tabs" role="tablist" id="myTab">
        <li class="active"><a id="XXX1" href="#home" role="tab" data-toggle="tab">#</a></li>
        <li><a id="XXX2" href="#profile" role="tab" data-toggle="tab" style="display:none;">#</a></li>
      </ul>
      
      <div class="tab-content">
        <div class="tab-pane active" id="home">
        	  <table id="AjaxFace" style="width:100%;">
            	<tr style="display:none;">
            	    <th width="150"> <input type="text"  name="Action" id="Action"   value="{{Action}}" >{{A30I01XA.HTML_HIDDEN}}	</th><td></td>
            	</tr>
            	<tr class="HiddenA61I05">
                 	<th width="100">出料貨倉</th>
                 	<td id="">        	
                 	      {{A61I05JJA19I02.HTML_SELECT}}
                   </td>
              </tr>              
              <tr class="HiddenA61I05">
                 	<th width="100">品項</th>
                 	<td id="">        	
                 	      {{A61I04JJA31I02.HTML_SELECT}}
                   </td>
              </tr>        
              <tr class="HiddenA61I05">
                 	<th width="100">Packing #</th>
                 	<td id="">        	
                 	      {{A61I20CV0020.HTML_SELECT}}
                   </td>
              </tr>             
            	<tr style="display:none;">
              	<th width="150">選擇品項</th>        	
              	<td>          		 
              		    <select class="width-80 chosen-select MaterialTxt" id="form-field-select-3" data-placeholder="" name="MaterialTxt" >
			      					  {{option}}									  
			      				 	</select>        		 						         		 
                </td>
              </tr>
              <tr>
              	<th width="150">數量</th>
                <td> 
                	  <input type="text" style="width:60px;" class="NumTxt" name="NumTxt"> 
                	  <button id="AddChBtn" class="btn btn-xs btn-info" style="font-size:13px;margin-left:10px;"  type="button">加入</button>  
                	  <button id="DelChBtn" class="btn btn-xs btn-danger" style="font-size:13px;margin-left:10px;"  type="button">清空</button>               	      
                </td>
              </tr>
              <tr style="display:none;">
              	<th width="100">出貨方式</th>
              	<td id="">        	
              	      {{WorkType.HTML_RADIO}}
                </td>
              </tr>                      
              <tr style="display:none;"  class="HiddenA61I12">
              	<th width="100">供應商</th>
              	<td id="">        	
              	      {{A61I12JJA12I02.HTML_SELECT}}
                </td>
              </tr>     
              <tr>
              	<th width="100">承包商</th>
              	<td id="">        	
              	      {{A61I13JJA12I02.HTML_SELECT}}
                </td>
              </tr>                   
               <tr>
              	<th width="100">出貨資料</th>
              	<td id="ShowBox">        		          		       
                </td>
              </tr>    
              <tr>
              	<th width="100">備註</th>
              	<td id="">        	
              	      {{A60F02NV0128.HTML_TEXTAREA}}	          		       
                </td>
              </tr>   
              <tr ><th width="100"></th>   <td id="">     <input type="text" id="OrderDataString" style="display:none;" class="OrderDataString" name="OrderDataString"></td> </tr>    
            </table>    
            <div id="RtnMsg" style="width:400px;text-align:center;"></div>       
            <div id="HtmlBox" style="display:none;">
            	  <div class="label label-lg label-primary  HYclearfix OrderItem It{{cls}}" pData="{{pId}}" title="{{pProviderTag}}" style="margin-bottom:5px;width:95%;">
                   <span class="ItName" style="float:left">{{NameTag}}</span>                	                  
                 	<i class="icon-trash icon-on-right BtnMa"  style="margin-left:10px;cursor:pointer;float:right"></i>
                 	<span class="ItNum Cls{{Sum}}" style="float:right">數量x <span class="NumBox">{{NumTag}}</span></span>      
                 	<span class="ItContractor" style="float:right;margin-right:5px;display:none;">[{{ContractorTag}}]</span>            	
                 	<span class="{{PackID}}" style="float:right;margin-right:5px;font-size:9px;">#{{PackTag}}</span>
                </div>      
            </div>        
        </div>
        <div class="tab-pane" id="profile" style="min-height:360px;">
        	  <div style="margin-bottom:5px;">
        	   	     {{UploadSort.HTML_RADIO}}         	   	     
        	  </div>
            <iframe id="UploadFrame" src="" style="min-height:320px;width:480px;overflow:hidden;"></iframe>
        	
        </div>
      </div>
  	
  		
      
  </div>  
                 
</div>  
      <script type="text/javascript">           
      	     
      	     function LoaOrderList(){
      	     	 var pHtml ='<div style="width:100%;text-align:center;padding-top:80px;">' +
                        '<img src="'+ThisWebUrl+'/assets/images/loadering.gif" alt="Smiley face" height="120" width="120">' +
                        '<div style="font-size:16px;">系統處理中....請稍候!!</div>' +
                        '</div>';
    	          $( "#CounterList" ).html(pHtml);     
                var  A61I05JJA19I02 =$( "#A61I05JJA19I02" ).val();      	       
                if(A61I05JJA19I02!="" && A61I05JJA19I02!=undefined){      	               	                         
      	           var ThisValue = $( "#WorkType :checked" ).val();
                   ajaxTagFunction(ThisWebUrl + '/action/Module/A603G/CountList_A66.ashx?A66I05JJA19I02='+A61I05JJA19I02,'CounterList',1,0); 
                }
      	                  
      	     }
      	     
      	     
      	     $("#UploadFrame").attr("src",ThisWebUrl+"/upload.aspx?type=A");
      	     
      	     $(".UploadSort").change(function() {      	  
      	     	       $("#UploadFrame").attr("src","");   	
                     $("#UploadFrame").attr("src",ThisWebUrl+"/upload.aspx?type=" + this.value);
              });
      	     
      	     $(".A60F02NV0128").width("460");
      	     $(".chosen-select").chosen(); 
				     $('#chosen-multiple-style').on('click', function(e){
				     	  var target = $(e.target).find('input[type=radio]');
				     	  var which = parseInt(target.val());
				     	  if(which == 2) $('#form-field-select-4').addClass('tag-input-style');
				     	   else $('#form-field-select-4').removeClass('tag-input-style');
				     });              
      	
 	           $(".BtnMa").click(function() {      	     	
                    $(this).parent().remove();
              });
             $("#AddChBtn").click(function() {      
             	 if($( "#WorkType :checked" ).val()=='B'&& $( "#A61I05JJA19I02" ).val()==''){             	 	
             	    alert("請先選擇貨倉!!");	
             	    return;
             	 }             	 
             	
             	 if(Hy_FormValidate()==true){ 	  
             	 	    var ThisValue = $( "#WorkType :checked" ).val();
                             	 	   	
                     var pName = $(".A61I04JJA31I02  :selected").text(); ;                
                     var pNum =$(".NumTxt").val();                     
                     var pHtml = $("#HtmlBox").html();
                     var pContractor =$("#A61I13JJA12I02").val();    
                     var pContractorName =$("#A61I13JJA12I02  :selected").text();    
                     var pProvider =$("#A61I12JJA12I02").val();
                     var pProviderName =$("#A61I12JJA12I02  :selected").text();
                     var pHouse = $("#A61I05JJA19I02").val();            
                     var pPack =$("#A61I20CV0020  :selected").text();  
                     var pPackID =  pPack;
                     pPackID=pPackID.replace(/\(/g,'');pPackID=pPackID.replace(/\)/g,'');pPackID=pPackID.replace(/\'/g,'');pPackID=pPackID.replace(/\_/g,'');pPackID=pPackID.replace(/\ /g,'');pPackID=pPackID.replace(/\./g,'');pPackID=pPackID.replace(/\=/g,'');
                     if($("."+pPackID).html()!="" && $("."+pPackID).html()!=undefined){
                         return;
                     }
                     pHtml = pHtml.replace("{{NameTag}}",pName);
                     pHtml = pHtml.replace("{{NumTag}}",pNum);
                     pHtml = pHtml.replace("{{ContractorTag}}",pContractorName);
                     pHtml = pHtml.replace("{{pProviderTag}}",pProviderName)
                     pHtml = pHtml.replace("{{PackTag}}",pPack);;
                     pHtml = pHtml.replace("{{PackID}}",pPackID);;
                     var pCl = pName;                     
                     pCl=pCl.replace(/\(/g,'');pCl=pCl.replace(/\)/g,'');pCl=pCl.replace(/\'/g,'');pCl=pCl.replace(/\_/g,'');pCl=pCl.replace(/\ /g,'');pCl=pCl.replace(/\./g,'');pCl=pCl.replace(/\=/g,'');
                     var pId ;
                     if(ThisValue=="B"){                       	  
                     	  pId = $("."+pCl).attr("value")+pContractor+pHouse+pPack; 
                     }else{
                        pId = $("."+pCl).attr("value")+pContractor+pProvider;                        
                     }
                     var pData = pId + "-" + pNum+"-"+pPack;
                     var pSumID =$("."+pCl).attr("value");  
                     if($(".It" +pId).html()!='' && $(".It" +pId).html()!=undefined){
                     	   var NewNum = $(".It" +pId+" .NumBox").html();
                     	   NewNum = parseInt(NewNum) + parseInt(pNum);
                     	   
                     	    var pCount = 0;
                     	   $( ".Cls"+pSumID +" .NumBox").each(function( index ) {    
                     	   	        var oNum =$(this).html();                     	   	        
                     	   	        pCount += parseInt(oNum);                     	   	
                     	    });
                     	   pCount += parseInt(pNum);
                     	                        	   
                    	    var UndevCode = pId.substring(0,10);	                       	    
                    	    if($(".Undev"+UndevCode).val()==''||$(".Undev"+UndevCode).val()==undefined){
                    	      alert('選取貨倉查無無庫存資料');
                    	       return;	
                    	    }
                     	   if(parseInt(pCount) > parseInt($(".Undev"+UndevCode).val())){
                     	   	   alert('輸入數量大於目前庫存!!');  
                     	   	   return;                   	   	   
                     	   }else{                     	     
                     	     $(".It" +pId+" .NumBox").html(NewNum);
                     	     $(".It" +pId).attr("pData",pId+"-"+NewNum);
                     	   }                     	   
                     }else{             
                     	    var pCount = 0;
                     	   $( ".Cls"+pSumID +" .NumBox").each(function( index ) {    
                     	   	        var oNum =$(this).html();                     	   	        
                     	   	        pCount += parseInt(oNum);                     	   	
                     	    });
                     	   pCount += parseInt(pNum);
                     	   
                     	   var UndevCode = pId.substring(0,10);	                           	   
                     	   if($(".Undev"+UndevCode).val()==''||$(".Undev"+UndevCode).val()==undefined){
                    	      alert('選取貨倉查無無庫存資料');	
                    	       return;
                    	    }
                     	   if(parseInt(pCount) > parseInt($(".Undev"+UndevCode).val())){
                     	   	   alert('輸入數量大於目前庫存!!');            
                     	   	   return;         	   	   
                     	   }else{                                         
                            
                            pHtml = pHtml.replace(/\{{cls}}/g,pId);                                                                      
                            pHtml = pHtml.replace("{{pId}}",pData);                                          
                            pHtml = pHtml.replace("{{Sum}}",pSumID);                                        
                            $("#ShowBox").append(pHtml);                                                                                
                            $(".BtnMa").unbind(); 
                            $(".BtnMa").click(function() {      	     	
                               $(this).parent().remove();
                            });
                         }
                     }
                      $("#RtnMsg").html('');
                 }
             }); 
               $("#DelChBtn").click(function() {  
               	   $("#ShowBox").html("");  
              });   	
             
             $("#AjaxFace").Hy_Validate({
                  	  id:"#AjaxFace",
                     Column_Require:"NumTxt,A61I13JJA12I02",
                     Column_Numeric:"NumTxt"
            });  
            
            
            $( "#WorkType" ).change(function() {            	
            	   var ThisValue = $( "#WorkType :checked" ).val();
                 if(ThisValue=="B"){
                 	   $("#ShowBox").html("");  
                 	  $( ".HiddenA61I05" ).css("display","");
                 	   $( ".HiddenA61I12" ).css("display","none");
                    var pHouseID =  $( "#A61I05JJA19I02" ).val();	   
                    LoaOrderList();                 
                }else{
                	  $( ".HiddenA61I05" ).css("display","none");
                	  $( ".HiddenA61I12" ).css("display","");
                	  $("#ShowBox").html("");  
                	  LoaOrderList();
                	
                }
            });
            $( "#A61I05JJA19I02" ).change(function() {    
            	var ThisValue = $( "#WorkType :checked" ).val();
                if(ThisValue=="B"){    
            	       LoaOrderList();
            	       $("#ShowBox").html(""); 
            	       $("#A61I20CV0020").html(""); 
            	  }
            });
            
            $( ".NumTxt" ).attr('disabled', 'disabled');
            $( "#A61I20CV0020" ).change(function() {                	  
            	  $( ".NumTxt" ).val(this.value);
            });
             $( "#A61I05JJA19I02,#A61I04JJA31I02" ).change(function() { 
             	  $( ".NumTxt" ).val("");
            });
            var oSelect = new hy_SelectHtml();
            var pUrl = ThisWebUrl + "/action/select/A603G/A66I04JJA31I02.ashx";
             //oSelect.setBaicWhere("E31I07CV0001","");             
             oSelect.initEvent("A61I05JJA19I02","A61I04JJA31I02","A31" ,"A31I02UV0010","A31F01NV0064","A61I05JJA19I02","",pUrl);
            var oSelect2 = new hy_SelectHtml();
            var pUrl2 = ThisWebUrl + "/action/select/A603G/A66I20CV0020.ashx";
             oSelect2.PlusParame1("A61I05JJA19I02");
             oSelect2.initEvent("A61I04JJA31I02","A61I20CV0020","A31" ,"A31I02UV0010","A31F01NV0064","A61I04JJA31I02","",pUrl2);
      </script>        
