<style>	 

</style>
<div class="widget-box">
	<div class="widget-header">
		<h4>功能鍵</h4>
		<button id="AddBtn" class="btn-info HYBtn hidden-480 Hidden{{Action}}" style="display:none;" type="button"><i class="icon-book  icon-only"></i><br>調播</button>		
		<button class="btn-danger HYBtn hidden-480 DelBtn Hidden{{Action}}" style="display:none;" type="button"><i class="icon-trash  icon-only"></i><br>刪除</button>
		<button class="btn-success HYBtn hidden-480 InfoBtn"  type="button" ><i class="icon-cloud  icon-only"></i><br>內容</button>		
		
	</div>

 
</div>
  
  
  <div class="page-header">
			<h4 class="pink">
					<i class="icon-hand-right icon-animated-hand-pointer blue"></i>
					<a href="#modal-table" role="button" class="green" data-toggle="modal"> 調播記錄 </a>
		  </h4>
  </div>
   <div class="bs-example">   	   
   	   <div id="AjaxList"></div>        	   	      
   </div>
   <div id="AjaxDialog" title="調播作業"></div>
   <div id="AjaxDialog2" title="調播內容"></div>
   <div id="AjaxDialog3" title=""></div>
   <div id="AjaxDialog4" title=""></div>
   
    <script  type="text/javascript">
      var ThisActionTag = "{{Action}}";      
      function LoadAjaxList(){
        $("#AjaxList").Hy_Template_Engine({
            TemplateType: "List",
            PageNum: 15,         
            TemplateUrl: ThisWebUrl +  "/template/templateEngine/A607L_list_content.html",
            JsonDataUrl: ThisWebUrl +  "/action/templateEngine/A607L_list_content_list.ashx",
            ColumeName_Input: "A71I01XA,A71I02UV0010,A71I03CV0001,A71F01NV0064,A71F02NV0128,A71F03NT,A71IND,A71INT,A71INA",
            ColumeName_Radio: "",
            ColumeName_Select: "",
            ColumeName_Parame: "Language",
            SearchColume: "SearchTxt"
        });    
     }
     LoadAjaxList();
     
     
   </script>	  
   
    <script type="text/javascript">  	 
    	       $(".Hidden").css("display","");
             $("#AddBtn").click(function () {  
             	       $( "#AjaxDialog" ).html("");                  	       
             	       //$("span.ui-dialog-title").text('入料作業');           	             	             	       
             	       ajaxTagFunction(ThisWebUrl + '/Module/A607L/face.ashx','AjaxDialog',1,0);               	                    	                   	       
             	       $( "#AjaxDialog" ).dialog( "open" );                 
             });             
             $(".PackingBtn").click(function () {  
             	       $( "#AjaxDialog4" ).html("");                  	                    	              	             	             	       
             	       ajaxTagFunction(ThisWebUrl + '/action/Module/A606L/packinglist.ashx','AjaxDialog4',1,0);               	                    	                   	       
             	       $( "#AjaxDialog4" ).dialog( "open" );                 
             });           
             
           $( "#AjaxDialog" ).dialog({
           	  autoOpen: false,
              resizable: false,
              height: 560,
      	      width: 1300,
              modal: false,
              buttons: {
                "送出": function() {
                	 /* 取訂單明細 */
                	 var pContent = "";
                	  $( ".OrderItem" ).each(function( index ) {                	  	        
                            var pDate = $(this).attr("pData");   	    
                            if(pDate!="" && pDate!="{{pId}}"){
                            	 if(pContent!=""){ pContent += ","; }
                               pContent += pDate;
                            }
                     });      
                     if($("#A61I13JJA12I02").val()==$("#A61I13JJA12I02_New").val()){                     	
                     	  	              alert("請檢查選取承包商!!");	return;
                     }                                          
                     //alert(pContent);
                	  /* 驗証 */
                    if(pContent!=""){  
                    	                 $( "#OrderDataString" ).val(pContent);                          	                      	                                 	                 
                        	             ajaxTagSubmit(ThisWebUrl + '/Module/A607L/face.ashx',"AjaxFace",1);
                        	             LoadAjaxList();
                        	             LoaOrderList();
                        	          }else{
                        	              alert("請先輸入資料!!");	
                        	          }
                },
                "關閉": function() {
                  $( this ).dialog( "close" );
                }
              }
            });
            
            $( "#AjaxDialog2" ).dialog({
           	  autoOpen: false,
              resizable: false,
              height: 500,
      	      width: 630,
              modal: false,
              buttons: {                
                "關閉": function() {
                  $( this ).dialog( "close" );
                }
              }
            });
            
           $( "#AjaxDialog3" ).dialog({
           	  autoOpen: false,
              resizable: false,
              height: 600,
      	      width: 930,
              modal: false,
              buttons: {                
                "關閉": function() {
                  $( this ).dialog( "close" );
                }
              }
            });       
            $( "#AjaxDialog4" ).dialog({
           	  autoOpen: false,
              resizable: false,
              height: 200,
      	      width: 380,
              modal: false,
              buttons: {                
                "關閉": function() {
                  $( this ).dialog( "close" );
                }
              }
            });                          
      </script>        