<style>	 

</style>
<div class="widget-box">
	<div class="widget-header">
		<h4>功能鍵</h4>		
		<button id="ExportBtn" class="btn-success HYBtn hidden-480 ExportBtn" type="button" ><i class="icon-cloud  icon-only"></i><br>匯出</button>		
		<input  type="radio" class="Sort" name="Sort" value="A">  全部
		<input  type="radio" class="Sort" name="Sort" value="L" >  Local
		<input  type="radio" class="Sort" name="Sort" value="G" checked=checked>  Global
	</div> 
</div>
  
  
  <div class="page-header">
			<h4 class="pink">
					<i class="icon-hand-right icon-animated-hand-pointer blue"></i>
					<a href="#modal-table" role="button" class="green" data-toggle="modal"> 物料統計表 </a>
				</h4>
  </div>
   <div class="bs-example">   	   
   	   <div id="AjaxList"></div>        	   	      
   </div>
   <div id="AjaxDialog" title="Basic dialog"></div>
   
   <iframe id="ExcelData" src="" style="display:none;"></iframe>   
   
    <script  type="text/javascript">
    	var ThisHtml="";
    	
      var pHtml ='<div style="width:100%;text-align:center;padding-top:80px;">' +
                        '<img src="'+ThisWebUrl+'/assets/images/loadering.gif" alt="Smiley face" height="120" width="120">' +
                        '<div style="font-size:16px;">系統處理中....請稍候!!</div>' +
                        '</div>';
    	          $( "#AjaxList" ).html(pHtml);   
      ajaxTagFunction(ThisWebUrl + '/Action/Module/A611L/Info.ashx?A61I07CV0001=G','AjaxList',1,0);   
      
      $(".Sort").change(function () {  
       	   var pHtml ='<div style="width:100%;text-align:center;padding-top:80px;">' +
                        '<img src="'+ThisWebUrl+'/assets/images/loadering.gif" alt="Smiley face" height="120" width="120">' +
                        '<div style="font-size:16px;">系統處理中....請稍候!!</div>' +
                        '</div>';
    	          $( "#AjaxList" ).html(pHtml);   
       	    var Sort = this.value;
       	    ajaxTagFunction(ThisWebUrl + '/Action/Module/A611L/Info.ashx?A61I07CV0001='+Sort,'AjaxList',1,0);   
      });
      
      function setHtmlTable() {
           ThisHtml = $( "#ReportTable" ).html();
           ThisHtml = ThisHtml.replace("tbody","table");
           ThisHtml = ThisHtml.replace("tbody","table");
          
        }              
      function goExport(strName) {
      	   
      	   $("#ExcelData").attr("src",ThisWebUrl+"/action/report/HtmltoExcel.ashx?filename="+strName);    	
      }
      $("#ExportBtn").click(function () {    
      	    setHtmlTable();
      	    $("#iHTML").val(ThisHtml);
  	        //$("#ExcelData").attr("src",ThisWebUrl+"/action/report/HtmltoExcel.ashx?ThisHtml="+ThisHtml);    	                        	                       	                
 	 	        
 	 	        
 	 	        ajaxTagSubmit(ThisWebUrl +  '/action/report/SaveHtml.ashx',"AjaxFace",1); 
 	 	        
 	 	        
       });
     
   </script>	  
   
    