 <div class="page-header">
			<h4 class="pink">
					<i class="icon-hand-right icon-animated-hand-pointer blue"></i>
					<a href="#modal-table" role="button" class="green" data-toggle="modal"> Table Box </a>
				</h4>
</div>
 <div class="bs-example">
     <table class="table table-hover">
         <thead>
             <tr>
                 <th>Column1</th>
                 <th>Column2</th>
                 <th>Column3</th>
                 <th>Column4</th>
                 <th class="hidden-480">Column5</th>
                 <th class="hidden-480">Column6</th>
                 <th class="hidden-480">Column7</th>
                 
             </tr>
         </thead>
         <tbody>
             <tr>
                 <td>1</td>
                 <td>2</td>
                 <td>3</td>
                 <td class="hidden-480">4</td>
                 <td class="hidden-480">5</td>
                 <td class="hidden-480">6</td>
                 <td>
                     <div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
												<button class="btn btn-xs btn-success"><i class="icon-ok bigger-120"></i></button>
												<button class="btn btn-xs btn-info"><i class="icon-edit bigger-120"></i></button>
												<button class="btn btn-xs btn-danger"><i class="icon-trash bigger-120"></i></button>
												<button class="btn btn-xs btn-warning"><i class="icon-flag bigger-120"></i></button>
											</div>
											<div class="visible-xs visible-sm hidden-md hidden-lg">
												<div class="inline position-relative">
													<button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown"><i class="icon-cog icon-only bigger-110"></i></button>
													<ul class="dropdown-menu dropdown-only-icon dropdown-yellow pull-right dropdown-caret dropdown-close">
														<li><a href="#" class="tooltip-info" data-rel="tooltip" title="View"><span class="blue"><i class="icon-zoom-in bigger-120"></i></span></a></li>
														<li><a href="#" class="tooltip-success" data-rel="tooltip" title="Edit"><span class="green"><i class="icon-edit bigger-120"></i></span></a></li>
														<li><a href="#" class="tooltip-error" data-rel="tooltip" title="Delete"><span class="red"><i class="icon-trash bigger-120"></i></span></a></li>
													</ul>
												</div>
											</div>	
                 </td>                                                
             </tr>
              <tr>
                 <td>1</td>
                 <td>2</td>
                 <td>3</td>
                 <td class="hidden-480">4</td>
                 <td class="hidden-480">5</td>
                 <td class="hidden-480">6</td>                 
                 <td>
                     <div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
												<button class="btn btn-xs btn-success"><i class="icon-ok bigger-120"></i></button>
												<button class="btn btn-xs btn-info"><i class="icon-edit bigger-120"></i></button>
												<button class="btn btn-xs btn-danger"><i class="icon-trash bigger-120"></i></button>
												<button class="btn btn-xs btn-warning"><i class="icon-flag bigger-120"></i></button>
											</div>
											<div class="visible-xs visible-sm hidden-md hidden-lg">
												<div class="inline position-relative">
													<button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown"><i class="icon-cog icon-only bigger-110"></i></button>
													<ul class="dropdown-menu dropdown-only-icon dropdown-yellow pull-right dropdown-caret dropdown-close">
														<li><a href="#" class="tooltip-info" data-rel="tooltip" title="View"><span class="blue"><i class="icon-zoom-in bigger-120"></i></span></a></li>
														<li><a href="#" class="tooltip-success" data-rel="tooltip" title="Edit"><span class="green"><i class="icon-edit bigger-120"></i></span></a></li>
														<li><a href="#" class="tooltip-error" data-rel="tooltip" title="Delete"><span class="red"><i class="icon-trash bigger-120"></i></span></a></li>
													</ul>
												</div>
											</div>	
                 </td>                      
             </tr>
             
             
         </tbody>
     </table>
 </div>