
       <table id="ListTable" class="table " >
           <thead>
               <tr>
                   <th></th>
                   <th><h5>名稱 </h5> </th>
                   <th><h5>狀態 </h5> </th>
                   <th><h5>說明 </h5> </th>                   
               </tr>
           </thead>
           <tbody>              
                <!-- BEGIN List1 -->
                <tr class="" A19I01XA="{{A19I01XA}}">
                   <td>{{Serial}}            </td>
                   <td>{{A19F01NV0032}}      </td>
                   <td>{{A19I03CV0001_NAME}} </td>
                   <td>{{A19F02NV0256}}      </td>                   
               </tr>
                <!-- END List1 -->               
           </tbody>           
       </table>      
       <div  class="widget-header hidden-480" style="font-size:13px;">
           <span>
           	     從 <span id="JsTem-DataFromTag"></span> -  <span id="JsTem-DataEndTag"></span>  筆   共計   <span id="JsTem-DataCountTag"></span>  筆 
           </span>
           <button type="button" class="btn btn-info btn-xs" onclick="Hy_Template_Engine_PageMove_Request('First')">第一頁</button>  
           <button type="button" class="btn btn-info btn-xs" onclick="Hy_Template_Engine_PageMove_Request('Prev')">上一頁</button>  
           <span >
           	        &nbsp;&nbsp;<input type="text" id="JsTem-ThisPageInput" style="width:40px;text-align:center;" class="PageBtn SubmitDisable" name="PageBtn" value=""><span id="JsTem-ThisPageTag" style="display:none;"></span>  /  <span id="JsTem-PageCountTag"></span>  頁&nbsp;&nbsp;
           </span>
           <button type="button" class="btn btn-info btn-xs" onclick="Hy_Template_Engine_PageMove_Request('Next')">下一頁</button>
           <button type="button" class="btn btn-info btn-xs" onclick="Hy_Template_Engine_PageMove_Request('Last')">最末頁</button>&nbsp;&nbsp&nbsp;&nbsp                      
           <input id="SearchTxt" class="SubmitDisable hidden-720" type="text" placeholder="Search">
           <button type="button" class="btn btn-success btn-xs hidden-720" onclick="Hy_Template_Engine_Reload_JData();">搜&nbsp;&nbsp;尋</button>
       </div>
    

 <script  type="text/javascript">
 	 $( "#ListTable tr").unbind();
 	 $("#ListTable tr").dblclick(function () {    
 	 	         $("#ListTable tr").removeClass( "CircleTR" );       
    	       $(this).addClass( "CircleTR" );
    });
   $( ".UpdBtn").unbind(); 
 	 $(".UpdBtn").click(function () {            
    	       $( "#AjaxDialog" ).html("");                    	      	       
             $("span.ui-dialog-title").text('編輯作業');       
    	       var A19I01XA = $(".CircleTR").attr("A19I01XA");   	                   
    	       if(A19I01XA!=''&&A19I01XA!=undefined){
    	          ajaxTagFunction(ThisWebUrl + '/Module/A19/face.ashx?A19I01XA='+A19I01XA,'AjaxDialog',1,0);  
    	          $( "#AjaxDialog" ).dialog( "open" );  
    	       }else{alert("請先選取資料!!");}               
    	       
    });
    $( ".DelBtn").unbind();
    $(".DelBtn").click(function () {                         	                    	             	
    	       var A19I01XA = $( this ).attr("A19I01XA");   	
    	       var A19I01XA = $(".CircleTR").attr("A19I01XA");   	                   
    	       if(A19I01XA!=''&&A19I01XA!=undefined){               	                  	             	                	       
    	            if(confirm("確認是否刪除?"))
                  {
                       var str = ThisWebUrl + "/Module/A19/face.ashx?A19I01XA="+A19I01XA+"&Del=Del";
                       ajaxTagFunction(str,'AjaxDialog',1,1);
                       Hy_Template_Engine_PageMove_Request("First");                 
                  }                
            }else{alert("請先選取資料!!");}       
    });
 	

     /* 避免bootstrap input內按enter時 網頁重新整理 */
   $('.SubmitDisable').keydown(function(event){
          if(event.keyCode == 13) { event.preventDefault(); return false; }
   });
   $('#SearchTxt').keyup(function(event){
          if(event.keyCode == 13) { 
          	  Hy_Template_Engine_Reload_JData();          	  
          	  return false;           	  
          }
   });
   $('#JsTem-ThisPageInput').keyup(function(event){
          if(event.keyCode == 13) {           	  
          	  Hy_Template_Engine_PageMove_Request(this.value);
          	  return false;           	  
          }
   });
</script>	  
   