<style>
	.ParV {
	    display:block;	
	}
</style>
       <table id="ListTable" class="table " >
           <thead>
               <tr>
                   <th></th>
                   <th><h5>使用系統 </h5> </th>
                   <th><h5>名稱 </h5> </th>                   
                   <th><h5>件號 </h5> </th>  
                   <th><h5>資訊</h5></th>    
                   <th><h5>單位</h5> </th>                                       
               </tr>
           </thead>
           <tbody>              
                <!-- BEGIN List1 -->
                <tr class="" A31I01XA="{{A31I01XA}}">
                   <td>{{Serial}}            </td>
                   
                   <td>{{A31I06CV0001_NAME}}{{A31I07CV0001_NAME}}   </td>                        
                   <td><span style="color:#87b87f;display:none;" >{{A30F01NV0064}}</span>{{A31F01NV0064}} </td>
                   <td>{{A31I14CV0024}}            </td>
                   <td>{{A31I08CV0001_NAME}}-{{A31I09CV0001_NAME}} -{{A31F03NV0004}}       </td> 
                   <td>
                      	<button type="button" A31I02UV0010="{{A31I02UV0010}}" class="btn btn-xs btn-danger PartS Par{{A31I09CV0001}}" style="display:none">
                          <i class="icon-flag bigger-110"></i>
                           零組件x{{A31F04FD0300}}                      
                        </button>                  	    
                        
                   </td>                                                                        
               </tr>
                <!-- END List1 -->               
           </tbody>           
       </table>      
       <div  class="widget-header hidden-480" style="font-size:13px;">
           <span>
           	     從 <span id="JsTem-DataFromTag"></span> -  <span id="JsTem-DataEndTag"></span>  筆   共計   <span id="JsTem-DataCountTag"></span>  筆 
           </span>
           <button type="button" class="btn btn-info btn-xs" onclick="Hy_Template_Engine_PageMove_Request('First')">第一頁</button>  
           <button type="button" class="btn btn-info btn-xs" onclick="Hy_Template_Engine_PageMove_Request('Prev')">上一頁</button>  
           <span >
           	        &nbsp;&nbsp;<input type="text" id="JsTem-ThisPageInput" style="width:40px;text-align:center;" class="PageBtn SubmitDisable" name="PageBtn" value=""><span id="JsTem-ThisPageTag" style="display:none;"></span>  /  <span id="JsTem-PageCountTag"></span>  頁&nbsp;&nbsp;
           </span>
           <button type="button" class="btn btn-info btn-xs" onclick="Hy_Template_Engine_PageMove_Request('Next')">下一頁</button>
           <button type="button" class="btn btn-info btn-xs" onclick="Hy_Template_Engine_PageMove_Request('Last')">最末頁</button>&nbsp;&nbsp&nbsp;&nbsp                      
           <input id="SearchTxt" class="SubmitDisable hidden-720" type="text" placeholder="Search">
           <button type="button" class="btn btn-success btn-xs hidden-720" onclick="Hy_Template_Engine_Reload_JData();">搜&nbsp;&nbsp;尋</button>
       </div>
    

 <script  type="text/javascript">
 	$(".ParV").show();
 	 $("#ListTable tr").dblclick(function () {    
 	 	         $("#ListTable tr").removeClass( "CircleTR" );       
    	       $(this).addClass( "CircleTR" );
    });
 	 $(".UpdBtn").click(function () {            
    	       $( "#AjaxDialog" ).html("");                    	      	       
             $("span.ui-dialog-title").text('編輯作業');       
    	       var A31I01XA = $(".CircleTR").attr("A31I01XA");   	                   
    	       if(A31I01XA!=''&&A31I01XA!=undefined){
    	          ajaxTagFunction( ThisWebUrl +  '/Module/A31/face.ashx?A31I01XA='+A31I01XA,'AjaxDialog',1,0);  
    	          $( "#AjaxDialog" ).dialog( "open" );  
    	       }else{alert("請先選取資料!!");}               
    	       
    });
    $(".DelBtn").click(function () {                         	                    	             	
    	       var A31I01XA = $(".CircleTR").attr("A31I01XA");   	
    	       if(A31I01XA!=''&&A31I01XA!=undefined){               	                  	             	                	       
    	           if(confirm("確認是否刪除?"))
                 {
                      var str =  ThisWebUrl +  "/Module/A31/face.ashx?A31I01XA="+A31I01XA+"&Del=Del";
                      ajaxTagFunction(str,'AjaxDialog',1,1);
                      Hy_Template_Engine_PageMove_Request("First");                 
                 }             
             }else{alert("請先選取資料!!");}              
    });
 	
   $(".PartS").click(function () {            
    	       $( "#AjaxDialog2" ).html("");                    	      	       
             $("span.ui-dialog-title").text('零組件設定');       
    	       var A31I02UV0010 = $(this).attr("A31I02UV0010");   	                   
    	       if(A31I02UV0010!=''&&A31I02UV0010!=undefined){
    	          ajaxTagFunction( ThisWebUrl +  '/action/module/A31/list.ashx?A31I02UV0010='+A31I02UV0010,'AjaxDialog2',1,0);  
    	          $( "#AjaxDialog2" ).dialog( "open" );  
    	       }else{alert("請先選取資料!!");}               
    	       
    });
     /* 避免bootstrap input內按enter時 網頁重新整理 */
   $('.SubmitDisable').keydown(function(event){
          if(event.keyCode == 13) { event.preventDefault(); return false; }
   });
   $('#SearchTxt').keyup(function(event){
          if(event.keyCode == 13) { 
          	  Hy_Template_Engine_Reload_JData();          	  
          	  return false;           	  
          }
   });
   $('#JsTem-ThisPageInput').keyup(function(event){
          if(event.keyCode == 13) {           	  
          	  Hy_Template_Engine_PageMove_Request(this.value);
          	  return false;           	  
          }
   });
</script>	  
   