
       <table id="ListTable" class="table " >
           <thead>
               <tr>
                   <th></th>
                   <th><h5>入料編碼 </h5> </th>          
                   <th><h5>內容</h5> </th>                     
                   <th><h5>入料時間 </h5> </th>                                      
               </tr>
           </thead>
           <tbody>              
                <!-- BEGIN List1 -->
                <tr class=""  A68I03JJA67I02="{{A68I03JJA67I02}}">
                   <td>{{Serial}}            </td>                   
                   <td>{{A68I03JJA67I02}} </td>
                   <td>  <span id="InfoS{{A68I03JJA67I02}}" style="padding:0px;"></span>   </td>           
                   <td>{{A68INA}}   </td>                   
               </tr>
                <script  type="text/javascript">               
                	 
               	    ajaxTagFunction( ThisWebUrl +  '/action/Module/A605L/Info_S.ashx?A67I02UV0012={{A68I03JJA67I02}}&A12I02UV0010=','InfoS{{A68I03JJA67I02}}',1,0);  
               </script>	  
                <!-- END List1 -->               
           </tbody>           
       </table>      
       <div  class="widget-header hidden-480" style="font-size:13px;">
           <span>
           	     從 <span id="JsTem-DataFromTag"></span> -  <span id="JsTem-DataEndTag"></span>  筆   共計   <span id="JsTem-DataCountTag"></span>  筆 
           </span>
           <button type="button" class="btn btn-info btn-xs" onclick="Hy_Template_Engine_PageMove_Request('First')">第一頁</button>  
           <button type="button" class="btn btn-info btn-xs" onclick="Hy_Template_Engine_PageMove_Request('Prev')">上一頁</button>  
           <span >
           	        &nbsp;&nbsp;<input type="text" id="JsTem-ThisPageInput" style="width:40px;text-align:center;" class="PageBtn SubmitDisable" name="PageBtn" value=""><span id="JsTem-ThisPageTag" style="display:none;"></span>  /  <span id="JsTem-PageCountTag"></span>  頁&nbsp;&nbsp;
           </span>
           <button type="button" class="btn btn-info btn-xs" onclick="Hy_Template_Engine_PageMove_Request('Next')">下一頁</button>
           <button type="button" class="btn btn-info btn-xs" onclick="Hy_Template_Engine_PageMove_Request('Last')">最末頁</button>&nbsp;&nbsp&nbsp;&nbsp                      
           承包商
           {{A12I02UV0010.HTML_SELECT}}
           <input id="SearchTxt" class="SubmitDisable hidden-720" type="text" placeholder="Search">           
           <button type="button" class="btn btn-success btn-xs hidden-720" onclick="Hy_Template_Engine_Reload_JData();">搜&nbsp;&nbsp;尋</button>
           
       </div>
    

 <script  type="text/javascript">
 	 	$(".ParV").show();
 	 	$("#ListTable tr").unbind();
 	  $("#ListTable tr").dblclick(function () {    
 	 	         $("#ListTable tr").removeClass( "CircleTR" );       
    	       $(this).addClass( "CircleTR" );
    });
 	 $("#A12I02UV0010").unbind();
 	 $( "#A12I02UV0010" ).change(function() {
      Hy_Template_Engine_Reload_JData();
   });
   
   $(".InfoBtn").unbind();
   $(".InfoBtn").click(function () {            
    	       $( "#AjaxDialog2" ).html("");                    	      	       
             //$("span.ui-dialog-title").text('出料內容');       
    	       var A68I03JJA67I02 = $(".CircleTR").attr("A68I03JJA67I02");   	                   
    	       if(A68I03JJA67I02!=''&&A68I03JJA67I02!=undefined){
    	       	  var A12I02UV0010 = "";
    	       	  A12I02UV0010 = $("#A12I02UV0010").val();    	       	  
    	       	  if(A12I02UV0010!="" &&A12I02UV0010!=undefined){
    	       	  	A12I02UV0010 = "&A12I02UV0010=" + A12I02UV0010;
    	       	  	alert(A12I02UV0010);
    	       	  }
    	       	  
    	          ajaxTagFunction( ThisWebUrl +  '/action/Module/A605L/Info.ashx?A67I02UV0012='+A68I03JJA67I02+A12I02UV0010,'AjaxDialog2',1,0);  
    	          $( "#AjaxDialog2" ).dialog( "open" );  
    	       }else{alert("請先選取資料!!");}               
    	       
    });

   $(".SubmitDisable").unbind();
     /* 避免bootstrap input內按enter時 網頁重新整理 */
   $('.SubmitDisable').keydown(function(event){
          if(event.keyCode == 13) { event.preventDefault(); return false; }
   });
   $("#SearchTxt").unbind();
   $('#SearchTxt').keyup(function(event){
          if(event.keyCode == 13) { 
          	  Hy_Template_Engine_Reload_JData();          	  
          	  return false;           	  
          }
   });
   $('#JsTem-ThisPageInput').keyup(function(event){
          if(event.keyCode == 13) {           	  
          	  Hy_Template_Engine_PageMove_Request(this.value);
          	  return false;           	  
          }
   });
</script>	  
   