<style>
  #OrderTable th{
  	 background-color:#87b87f;
  	 color:#fff;
  	 font-size:15px;
  }
</style>
<br>
<div class="">
   <table id="OrderTable" style="font-size:13px;" class="table table-striped">	
   	  <tr style="background-color:#ff0000;">
   	  	 <th></th>
         <th>品項名稱</th>	      	         
         <th>未入庫</th>	      	
         <th>已入庫</th>	      	
         <th>總數量</th>	      	
      </tr>
   	  <!-- BEGIN List1 -->   
      <tr>
      	 <td>#{{serial}}</td>	      	
         <td>{{A31F01NV0064}}</td>	      	
         <td>{{UnDev}}</td>
         <td>{{Dev}}</td>
         <td>{{Total}}</td>	      	
      </tr>
      <!-- END List1 -->            
   </table>
</div>

   
  