<style>
 #SimpleTable td { padding:3px 21px;}	
</style>
<table id="SimpleTable" class="table-bordered">
	 <tr style="background-color:#6fb3e0;color:#fff;">   	  	 
   	  	 <th>入庫日期</th>	    	  	 	  
         <th>貨倉名稱</th>	      	         
         <th>品項名稱</th>	      	
         <th>數量</th>	      	
         <th></th>	      	
      </tr> 
	 <!-- BEGIN List1 -->   
	<tr>
　   <td>{{A66D01}}  </td>
     <td>  {{A19F01NV0032}}</td>  
     <td>  {{A31F06NV0032}}</td>  
     <td>數量X {{cnt}} </td>
  </tr>
　<!-- END List1 -->     
</table>
