<style>
 #SimpleTable td { padding:3px 21px;}	
</style>
<table id="SimpleTable" class="table-bordered">
	 <tr style="background-color:#6fb3e0;color:#fff;">   	  	 
   	  	  <th>出貨日</th>	
   	  	 <th>供應商名稱</th>	
         <th>承包商名稱</th>	      	         
         <th>品項名稱</th>	      	
         <th>數量</th>	      	       
      </tr> 
	 <!-- BEGIN List1 -->   
	<tr>
　   <td>{{A68D01}}</td>	
      	 <td>{{A12F01NV00641}}</td>
         <td>{{A12F01NV0064}}</td>	      	
         <td>{{A31F01NV0064}}</td>
         <td>{{cnt}}</td>
  </tr>
　<!-- END List1 -->     
</table>

