<style>
  #OrderTable th{
  	 background-color:#87b87f;
  	 color:#fff;
  	 font-size:15px;
  }
</style>
<div class="" style="padding-right:10px;">
	 <div ><h5 class="btn-warning" style="padding:3px;">承包商 : {{A12F01NV0064}} </h5></div>
   <table id="OrderTable" style="font-size:13px;margin-top:-10px;" class="table table-striped">	
   	  <tr style="">
   	  	 <th></th>
         <th>品項名稱</th>	      	         
         <th>數量 </th>	      	             	
      </tr>
   	  <!-- BEGIN List1 -->   
      <tr>
      	 <td>#{{serial}}</td>	      	
         <td>{{A31F01NV0064}}</td>	      	
         <td>{{pSum}}<input type="text" name="Undev" class="Undev{{A68I04JJA31I02}}" value="{{pSum}}" style="display:none;">  </td>         
      </tr>
      <!-- END List1 -->            
   </table>
</div>

   
  